<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.tud.mensadresden"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="org.tud.mensadresden.MensaDresdenApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="org.tud.mensadresden.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="org.tud.mensadresden.finding.offers.view.MensaDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="org.tud.mensadresden.MainActivity"
            android:theme="@style/AppTheme.DetailActivity"
            >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA9JcUP_af_zLZzUKlzhfgYPoek5wxrW0Y"
            />
    </application>

</manifest>